.main-navigation {
  background-color: #234424;
  font-size: 24px;
}

.main-navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-navigation__link {
  text-decoration: none;
  color: #f7fb1b;
}

.main-navigation__button {
  color: #e310b9;
  cursor: pointer;

  @include buttonColor;
}
